<h1><%= @book.title %></h1>

<div>
  <strong>Author:</strong> <%= @book.author %>
</div>

<div>
  <strong>Genre:</strong> <%= @book.genre %>
</div>

<div>
  <strong>Publisher:</strong> <%= @book.publisher %>
</div>

<div>
  <%= link_to "Back", books_path %>
</div>
